body{

  width: 100%;
  height:100%;
  color:white;
  overflow-x: hidden;
  font-family: "Plain Light";
  background-color: black;
}



#page1{
  height:100vh;
  width:100vw;
  background-color: #151515;
}
#main{
  position:absolute;
 
}

.line{
 display:flex;
 align-items:center;
 justify-content: flex-start;
  height:fit-content;
  overflow: hidden;
}

#line1-part1{
  display: flex;

  align-items: center;
  justify-content: center;
  gap:1vw;
}

#line1-part1 h5, #line1-part1 h6{
  font-size: 3vw;
  font-weight: 100;
  font-family:'silk serif';


 

}

.line h2{
  font-size:5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity:0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#line1-part1 h5{
  width:5vw;
  text-align: right;
}

@keyframes anime{
  0%{
    font-family:"plain light";
    -webkit-text-stroke: 1px #fff;
    color:#fff;
    font-weight: 500;
    opacity: 1;
  }
  47%{
    font-family:"plain light";
    -webkit-text-stroke: 1px #fff;
    color:#fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family:"silk serif";
    -webkit-text-stroke: 1px #fff;
    color:transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family:"silk serif";
    -webkit-text-stroke: 1px #fff;
    color:transparent;
    font-weight: 500;
    opacity: 0;
  }
}